@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$fontFamily : "Montserrat",sans-serif;
$navTextColor : #f5f5f7;

@mixin flexContent () {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

* {
    box-sizing : border-box;
    margin: 0;
    padding: 0;
    
}

li, a, button, label {
    font-family : $fontFamily;
    font-weight :  500;
    font-size : 12px;
    /*color: #acc9d3;*/
    color: #f5f5f7;
    text-decoration : none;
}